<h1>Song List</h1>

<% @songs.each do |song| %>
  <h3><%= song.title %></h3>
  <p>Posted by <%= song.author %> at <%= song.created_at %></p>
  <p><%= song.url %>
<% end %>

<p>
  <a href="/new_song">Post a new song to the list</a>
</p>