<% if @user.errors.any? %>
  <p>Uh oh! Looks like there's some errors to fix before you can login:</p>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<form method="post" action="/login">
  <div>
    <label>Username:</label>
    <input type="text" name="name" value="enter your name<%= @user.name %>" />
  </div>

  <div>
    <label>Email:</label>
    <input type="text" name="email" value="enter your email<%= @user.email %>" />
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" value="enter your password<%= @user.password %>" />
  </div>

  <div>
    <input type="submit" value="Submit" />
  </div>

</form>