<h3><%= @song.title %></h3>
<input type="submit" name="" value="Upvote" />
<div>
  <h4>Other songs posted by <%= @song.author %>:</h4>
  <% other_songs = Song.where(author: @song.author).where('id != ?', @song.id) %>
  <% if other_songs.empty? %>
    <p>This user hasn't posted any other songs </p>
  <% else %>
    <% other_songs.each do |song| %>
      <a href='/show_song/<%= song.id %>'><%= song.title %></a>
    <% end %>
  <% end %>
</div>

<p><a href="/">Back to Song List</a></p>